<div class="jumbotron">
  <div class="container">
    <h1>Find A Movie</h1>
    <p>Search for a movie using the form below.</p>
    <form (submit)="searchMovies()">
      <input type="text" class="form-control" [(ngModel)]="searchStr" name="searchStr">
      <br>
      <button class="btn btn-primary btn-lg">Find</button>
    </form>
  </div>
</div>

<div class="card search" *ngIf="searchRes" >
  <div class="card-block">
    <h3>Search Results</h3>
    <div class="row">
      <div *ngFor="let movie of searchRes; let i = index" class="col-md-2">
        <div *ngIf="i < 18">
          <img *ngIf="movie.poster_path" class="thumbnail" src="http://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" >
          <h6>{{ movie.title }}</h6>
          <p>{{ movie.release_date}}</p>
          <p><a class="btn btn-default" href="#" target="_blank">View Details</a></p>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="card">
  <div class="card-block">
    <h3>Popular Movies</h3>
    <div class="row">
      <div *ngFor="let movie of popularList; let i = index" class="col-md-2">
        <div *ngIf="i < 6">
          <img *ngIf="movie.poster_path" class="thumbnail" src="http://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" >
          <h6>{{ movie.title }}</h6>
          <p>{{ movie.release_date}}</p>
          <p><a class="btn btn-default" href="#" target="_blank">View Details</a></p>
        </div>

      </div>
    </div>
  </div>
</div>
<br>

<div class="card">
  <div class="card-block">
    <h3>In Theatres</h3>
    <div class="row">
      <div *ngFor="let movie of theatresList; let i = index" class="col-md-2">
        <div *ngIf="i < 6">
          <img *ngIf="movie.poster_path" class="thumbnail" src="http://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" >
          <h6>{{ movie.title }}</h6>
          <p>{{ movie.release_date}}</p>
          <p><a class="btn btn-default" href="#" target="_blank">View Details</a></p>
        </div>

      </div>
    </div>
  </div>
</div>
